fastapi
uvicorn
streamlit
langgraph
langgraph-checkpoint-sqlite
aiosqlite
langchain-core
langchain-openai
langchain-community
langchain-chroma
langchain-tavily
PyMuPDF
Pillow
python-dotenv
pydantic
pypdf